/app/Config/CONFIG.ini
/app/Config/CONFIG_*.ini
/**/database.map
/app/sftp-config.json
/nbproject/
/app/nbproject/
/app/tmp/
/node_modules/
.project
/app/.buildpath
/app/.project
/app/.settings/
npm-debug.log
gulpfile.js
.fuse*
/app/nbproject/private/
/app/webroot/files/**
.fuse_hidden*
sftp-config.json
.remote-sync.json
/lib/Cake/Console/Templates/skel/tmp/**
/app/Vendor/MapServer/MapServer
.vscode/**
