<div class="fill-60">
    <div class="nav-tabs-custom fill">
        <ul class="nav nav-tabs" bootstrap-tabs>
            <li class="active">
                <a href="#tab-cartas" data-toggle="tab">
                    <span ng-bind="'CARTAS' | translate">
                    </span>
                </a>
            </li>
            <li>
                <a href="#tab-classificacoes" data-toggle="tab">
                    <span ng-bind="'CLASSSIFICACAO' | translate">
                    </span>
                </a>
            </li>
            <li>
                <a href="#tab-resultados" data-toggle="tab">
                    <span ng-bind="'RESULTADOS' | translate">
                    </span>
                </a>
            </li>
        </ul>
        <div class="tab-content fill-90 scrolly">
            <div class="tab-pane fill active" id="tab-cartas">
                <div class="fill" ng-init="onloadCartas()" mapcartas carta-event-click="cartaEventClick" options="mapCartaOptions" image-data="imageData"
                    classificacao="setClassificacao">
                </div>
            </div>
            <div class="tab-pane" id="tab-classificacoes">
                <form name="classificationForm" role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    {{ 'CARTA' | translate }}
                                </label>
                                <input ng-model="classifProcess.Classificacao.carta" required disabled type="text" placeholder="{{ 'CARTA' | translate }}"
                                    class="form-control" required/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    {{ 'COLECAO' | translate }}
                                </label>
                                <select id="classificacao-colecaoid" ng-model="classifProcess.Classificacao.colecao_id" ng-options="colecao.Colecao.id as colecao.Colecao.colecao for colecao in colecoes"
                                    class="form-control" required>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    {{ 'VERSAO' | translate }}
                                </label>
                                <input ng-model="classifProcess.Classificacao.versao" type="number" placeholder="Enter ..." class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    {{ 'PARAMSIDENTIFICADOR' | translate }}
                                </label>
                                <input ng-model="classifProcess.Classificacao.identificador" type="text" placeholder="Enter ..." class="form-control" />
                            </div>
                        </div>
                    </div>
                    <!-- FUNCIONALIDADE DE REGIÃO -->
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    {{ 'REGIAO' | translate }}
                                </label>
                                <select ng-model="classifProcess.Classificacao.regiao_info_id" ng-options="regiaoInfo.CartaRegiaoInfo.id as regiaoInfo.CartaRegiaoInfo.region + ' (' + regiaoInfo.CartaRegiaoInfo.pais_iso + ')' for regiaoInfo in getCartaRegiaoInfo()" placeholder="Select region" class="form-control"></select>
                            </div>
                        </div>
                    </div> -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>
                                    <input ng-model="classifProcess.Classificacao.versao_final" type="checkbox" /> {{ 'VERSAOFINAL' | translate }}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6" ng-if="cartaRegioes.length> 0">
                            <div class="form-group">
                                <label>
                                    {{ 'REGIAO' | translate }}
                                </label>
                                <select ng-model="classifProcess.Classificacao.regiao_id" ng-options="regiao.CartaRegiao.id as regiao.CartaRegiao.regiao for regiao in cartaRegioes"
                                    class="form-control">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>
                                    {{ 'ANO' | translate }}
                                </label>
                                <select class="form-control" ng-model="classifProcess.Classificacao.year" ng-change="selectAnoChange(classifProcess.Classificacao.year)"
                                    required>
                                    <option ng-repeat="ano in selectAnos" value="{{ ano }}">
                                        {{ ano }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>
                                    {{ 'DATAINICIAL' | translate }}
                                </label>
                                <input pikaday="date0" format="YYYY-MM-DD" ng-model="classifProcess.Classificacao.t0" type="text" placeholder="Enter ..."
                                    class="form-control" required/>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <label>
                                    {{ 'DATAFINAL' | translate }}
                                </label>
                                <input pikaday="date1" format="YYYY-MM-DD" ng-model="classifProcess.Classificacao.t1" type="text" placeholder="Enter ..."
                                    class="form-control" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    {{ 'SENSOR' | translate }}
                                </label>
                                <select ng-model="classifProcess.Classificacao.sensor" class="form-control" required>
                                    <option value="L5">
                                        Landsat5
                                    </option>
                                    <option value="LX">
                                        Landsat5/7
                                    </option>
                                    <option value="L7">
                                        Landsat7
                                    </option>
                                    <option value="L8">
                                        Landsat8
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label>
                                    {{ 'COBERTURANUVEM' | translate }}
                                </label>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <div ui-slider="slider.options" min="0" max="100" ng-model="classifProcess.Classificacao.cloudcover">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="number" min="0" max="100" ng-model="classifProcess.Classificacao.cloudcover" placeholder="" class="form-control"
                                                required/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" ng-model="classifProcess.Classificacao.elevation_on" /> {{ 'HABILITARELECACAO' | translate }}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-8" ng-show="classifProcess.Classificacao.elevation_on">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="maximo1">
                                        {{ 'MAXIMA' | translate }} (m)
                                    </label>
                                    <input class="form-control" type="number" ng-model="classifProcess.Classificacao.elevation_max" ng-pattern="/^[0-9]{0,10000}$/"
                                    />
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="minimo1">
                                        {{ 'MINIMA' | translate }} (m)
                                    </label>
                                    <input class="form-control" type="number" ng-model="classifProcess.Classificacao.elevation_min" ng-pattern="/^[0-9]{0,10000}$/"
                                    />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <section>
                                <legend>
                                    <h4>
                                        {{ 'ARVORESDECISAO' | translate }}
                                    </h4>
                                </legend>
                                <div class="form-group">
                                    <select ng-model="classifProcess.Classificacao.decision_tree_id" ng-options="dtree.DecisionTree.id as dtree.DecisionTree.selectLabel for (key,dtree) in decisiontrees"
                                        class="form-control" ng-change="dtreeSelectedChange(classifProcess.Classificacao.decision_tree_id)">
                                    </select>
                                </div>
                            </section>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div decision-tree="dtreeSelected" dtree-render="dtreeRender" edit="false">
                            </div>
                            <a href="#/dtree" class="btn btn-xs btn-info pull-right">Decision tree builder</a>
                            <br/>
                        </div>
                    </div>
                    <div class="row" ng-show="classifProcess.Classificacao">
                        <div class="col-xs-9">
                            <div class="form-group">
                                <label>
                                    <input type="checkbox" ng-model="classifProcess.Classificacao.keeponmap" /> {{ 'CAMADAMANTERMAP' | translate }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <hr/>
                    <div class="row">
                        <div class="col-xs-4">
                            <div class="form-group" id="form-save-group">
                                <button ng-click="salvarClassificacao(classifProcess)" ng-disabled="classificationForm.$invalid" ng-show="!classifProcess.Classificacao.id"
                                    class="btn btn-block btn-success" type="submit">
                                    <i class="fa fa-save">
                                    </i>
                                    {{ 'SALVAR' | translate }}
                                </button>
                                <div ng-show="classifProcess.Classificacao.id" class="input-group-btn">
                                    <button ng-disabled="classificationForm.$pristine" data-toggle="dropdown" class="btn btn-block btn-success dropdown-toggle"
                                        type="button" aria-expanded="false">
                                        <i class="fa fa-save">
                                        </i>
                                        {{ 'SALVAR' | translate }}
                                        <span class="fa fa-caret-down">
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-show="classifProcess.Classificacao.id">
                                            <a ng-click="salvarClassificacao(classifProcess)" href="javascript:;">
                                                {{ 'ATUALIZAR' | translate }}
                                            </a>
                                        </li>
                                        <li ng-show="!classifProcess.Classificacao.id">
                                            <a ng-click="salvarClassificacao(classifProcess)" href="javascript:;">
                                                {{ 'SALVAR' | translate }}
                                            </a>
                                        </li>
                                        <li ng-show="classifProcess.Classificacao.id">
                                            <a ng-click="salvarNovoClassificacao(classifProcess,$event)" href="javascript:;">
                                                {{ 'SALVARNOVO' | translate }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <button ng-disabled="classificationForm.$invalid" ng-click="geeImagemProcessar(classifProcess)" class="btn btn-block btn-info"
                                    type="submit">
                                    <i class="fa fa-gears">
                                    </i>
                                    {{ 'PROCESSAR' | translate }}
                                </button>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                <button ng-click="clearParams(classifProcess)" ng-show="classifProcess.Classificacao.year" class="btn btn-block btn-default"
                                    type="submit">
                                    <i class="fa fa-eraser">
                                    </i>
                                    {{ 'LIMPARPARAMS' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <br/>
                </form>
            </div>
            <div class="tab-pane" id="tab-resultados">
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <th style="width: 10px">
                                #
                            </th>
                            <th>
                                {{ 'BIOMA' | translate }}
                            </th>
                            <th>
                                {{ 'ANO' | translate }}
                            </th>
                            <th>
                                {{ 'PERIODO' | translate }}
                            </th>
                            <th>
                            </th>
                        </tr>
                        <tr ng-repeat="resultado in classificacaoResultados">
                            <td>
                                {{ resultado.Classificacao.id }}
                            </td>
                            <td>
                                {{ resultado.Classificacao.bioma }}
                            </td>
                            <td>
                                {{ resultado.Classificacao.year }}
                            </td>
                            <td>
                                {{ resultado.Classificacao.t0 | formatDate }} {{ 'A' | translate }} {{ resultado.Classificacao.t1 | formatDate }}
                            </td>
                            <td>
                                <button ng-click="setFormResultado(resultado)" class="btn btn-xs btn-default" type="button" data-toggle="tooltip" data-placement="left"
                                    title="{{ 'PROCESSAR' | translate }}">
                                    <i class="fa fa-edit">
                                    </i>
                                </button>
                                <button ng-click="processarResultado(resultado)" class="btn btn-xs btn-info" type="button" data-toggle="tooltip" data-placement="left"
                                    title="{{ 'PROCESSAR' | translate }}">
                                    <i class="fa fa-gears">
                                    </i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-xs-6">
                        <a href="#/classifications/parameters/map" ng-show="appAuthUser.Usuario.perfil_id != 10" class="btn btn-xs btn-default pull-left"
                            type="button">
                            <i class="fa fa-fw fa-map-o">
                            </i>
                            View Map Results
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <button ng-show="classificacaoResultados.length > 0 && appAuthUser.Usuario.perfil_id != 10" ng-click="dialogClassificacoesListar($event)"
                            class="btn btn-xs btn-info pull-right" type="button">
                            <i class="fa fa-fw fa-reorder">
                            </i>
                            More details...
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fill-40" style="background:#fff;padding: 10px">
    <div mapcarta class="fill">
    </div>
</div>