body {
    background: #d1d1d1;
    overflow: hidden;
}

.workarea {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    right: 31%;
    color: inherit;
}

#workmap_loader{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

#resultados_loader{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1000;
}

.header-custom {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 49px;
    background: #FBFBFB;
    z-index: 0;
}

.static-drawer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 69%;
    right: 0;
    color: inherit;
    background-color: #fff;
}

#filtro-cartas{
  width: auto;
  height: auto;
}

#classificacao{
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
}

#resultados{
  top: 20px;
  bottom: 0;
  left: 0;
  right: 0;
}

.t0{
  margin-top: 16px;
  margin-left: 16px;
  width: 30%;
}

.t1{
  margin-top: 16px;
  margin-left: 16px;
  width: 30%;
}

#map-cartas {
    width: auto;
    height: 450px;
    background-color: #ccc;
    border: 1px solid #aaa;
}

#map-carta {
    min-height: 100px;
    max-height: 500px;
    height: 400px;
    width: auto;
}

#workmap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.slider-cloud {
  margin: 16px;
}

.sensor{
  margin: 16px;
}

.map_choice {
    left: 50%;
}

.md-card {
  overflow: auto;
  min-height: 150px;
  max-height: 400px;
}

.leaflet-control-coordinates {
	background: white;
	border-radius: 4px;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	cursor: pointer;
	padding: 2px 5px;
}

.leaflet-control-coordinates.hidden {
	display: none;
}

.leaflet-control-coordinates-lng {
	padding-left: 5px;
}

#tabs-classification [md-tabs-template] {
    height: 100%;
}

#tabs-classification md-content {
    height: 100%;
    overflow-x: hidden;
}

#tabs-classification md-tab-content{
    overflow: hidden;
}


.control_container {
  width: 170px !important;
  height: 45px !important;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
}

.opacity_slider_control{
	width: 150px !important;
  height: 4px !important;
  margin-left: 10px !important;
  margin-bottom: 5px !important;
	background: #646464 !important;
}

.opacity_slider_control .ui-slider-range {
    background: #009688;
}

.opacity_slider_control .ui-slider-horizontal .ui-slider-handle {
    top: -.3em !important;
    margin-left: -.6em !important;
}

.opacity_slider_control .ui-slider-handle {
    position: absolute !important;
    z-index: 2 !important;
    width: 0.8em !important;
    height: 0.8em !important;
    cursor: default !important;
}

.opacity_slider_control .ui-state-default {
    background: #009688 !important;
}

@media screen and (min-width: 768px) .workarea {
    padding: 48px 0;
}

.container_progress{
  background: #efefef !important;
  height: 4px !important;
  width: 150px !important;
  margin-bottom: 20px !important;
}

.progress_image{
  background: #acacac !important;
  height: 100% !important;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
