<section class="content-header">
    <h1>
        Manager
        <small>
            Task Manager
        </small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard">
                </i>
                Workspace
            </a>
        </li>
        <li class="active">
            Filters
        </li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <h1>Gestor de Tarefas</h1>
                </div>
            </div>
        </div>
    </div>
</section>