<section class="content-header">
    <h1>
        Filters
        <small>
            Integration Filter
        </small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard">
                </i>
                Workspace
            </a>
        </li>
        <li class="active">
            Filters
        </li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="filter-map">
                        <!-- Criação de mapas on the fly -->
                        <div filter class="map-show" filter-number="i" ng-repeat="i in [1, 2]">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>